.go-to-btn {
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: white;
    height: 30px;
}
.go-to-btn-orange {
    background-color: #f86f03;
}
.go-to-btn:hover {
    cursor: pointer;
}
.go-to-btn:active {
    background-color: #999;
}
.go-to-btn-orange:active {
    background-color: #b15311;
}
