/* About */
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.about-text {
    max-width: calc(730px + 2dvw);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 530px;
    flex-grow: 1;
}
.about-text p {
    font-size: 1.2rem;
    line-height: 1.2;
}
.about-container img {
    width: inherit;
    height: inherit;
    object-fit: contain;
    max-width: min(80vw, 330px);
    border-radius: 20px;
}
.about-image-container {
    text-align: center;
}
