/* Banner */
.banner-home-introduction {
    display: flex;
    flex-wrap: wrap;
}
.banner-home-text h1 {
    color: #f86f03;
    line-height: 1.4;
}
.banner-home-text h1 .home-text-large {
    color: #fff;
    font-size: 2.8rem;
}
.banner-home-text h1 .home-text-small {
    color: #fff;
}
.banner-home-text p {
    font-size: 1.2rem;
    line-height: 1.2;
}
.banner-home-text {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    min-width: 240px;
}
.banner-img {
    flex: 5;
    width: inherit;
    height: inherit;
    object-fit: contain;
}
.banner-social-icons {
    display: flex;
    gap: 1rem;
}
.banner-social-icons img {
    max-width: 20px;
}
