/* Header */
.menu-row {
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    flex-wrap: wrap;
    align-items: center;
}
.menu-row-name {
    font-weight: 600;
}
.menu-row .menu-item {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}
.menu-row a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
