/* Banner */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.banner-home-text h1 {
    color: #f86f03;
    line-height: 1.4;
}
.banner-home-text h1 .home-text-large {
    color: #fff;
    font-size: 2.8rem;
}
.banner-home-text h1 .home-text-small {
    color: #fff;
}
.banner-home-text p {
    font-size: 1.2rem;
    line-height: 1.2;
}
.banner-home-text {
    flex: 7;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    min-width: 260px;
}
.banner-img {
    /* margin: auto; */
    /* width: inherit; */
    /* height: inherit; */
    /* object-fit: scale-down; */
    /* TODO: ADD MEDIA QUERY FOR CHANGING DISPLAY FLEX + IMAGE BEHAVIOR FOR RESPONSIVINESS */
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.banner-social-icons {
    display: flex;
    gap: 1rem;
}
.banner-social-icons img {
    max-width: 20px;
}
