/* Header */
.menu-row {
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    flex-wrap: wrap;
    align-items: center;
}
.menu-row-name {
    font-weight: 600;
    transition: 250ms;
    border-bottom: #f86f0300 solid 2px;
}
.menu-row-name:hover {
    border-bottom: #f86f03 solid 2px;
    transition: 100ms;
}
.menu-row .menu-item {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    flex-wrap: wrap;
}
.menu-row a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: 110ms;
}
.menu-row a:hover {
    color: #f86f03;
    transition: 85ms;
}
